{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>

{% comment %} soulition 2 {% endcomment %}
{% comment %} <p>{{post.title}}</p> {% endcomment %}


{% comment %} soloution 1 : use if and else in html {% endcomment %}
{% comment %} solotion2 {% endcomment %}
    {% comment %} {{Posts}}
    {% for Post in Posts %}

        {% if Post.status == 1 %}
        <h2>{{Post.title}}</h2>
        <h4>{{Post.content}}</h4>
        <h6>{{Post.published_date}}</h6>
        {% endif %}
        
    {% endfor %} {% endcomment %}


{% comment %} soloution 3 -> {% endcomment %}
    <h1>testing page</h1>
    <p> test {% posts as totalposts %}</p>
    {% for post in totalposts %}
       <p> {{post}} </p>
    {% endfor %}

</body>
</html>