{% load static %}
<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user-info.png' %}" alt="" />
    <a href="#"><h4>AmirAbbas Afrasiyabi</h4></a>
    <p>joniour backend developer</p>
    <ul class="social-links">
      <li>
        <a href="https://github.com/AmirabbasAfrasiyabi"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/amirabbas-afrasiyabi-a6a230259/"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/amirabbas.afrasiabi/"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://web.telegram.org/k/#@amir_afrasiyabi"><i class="fa fa-telegram"></i></a>
      </li>
    </ul>
    
    <p>
      As a committed young software developer and engineer with a master's degree in mechanical engineering, he can be eager to solve complex problems and enhance his skills. Expertise includes Python, Django, Django REST Framework and Java Script.
      My problem solving allows me to tackle complex technical challenges creatively and receptively. I am always looking for new challenges and eager to apply myself
    </p>
  </div>